{% extends "base.html" %}
{% block hero %}
{% endblock hero %}

{% block newpage %}
    <form class="form-inline">
        <a class="btn btn-outline-success my-2 my-sm-0" style='color: #ffffff;' href="{% url 'chnagepass' %}">Change Password</a>
        <a class="btn btn-outline-success my-2 my-sm-0" style='color: #ffffff;' href="{% url 'logout' %}">LogOut</a>
    </form>
{% endblock newpage %}

{% block content %}
<div  style='padding-top: 80px;'>
<h1 style="text-align: center; color: #4CAF50; padding: 20px;">Manager</h1>
<div style="text-align: center; margin-top: 30px;">
    <h4 style="font-size: 24px; color: #333;">{{ profile.user.username }}'s Profile</h4>
    <img src="{{ profile.image.url }}" alt="Profile Image" width="80">    

    <div style="padding: 10px; background-color: #ffe6e6; margin: 20px auto; width: 50%; border-radius: 10px;">
        <p style="font-size: 18px; color: #555; font-weight: bold;">Name: 
            <span style="color: #000;">{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
        </p>
            
        <p style="font-size: 18px; color: #555; font-weight: bold;">Email: 
            <span style="color: #000;">{{ profile.user.email }}</span>
        </p>

        <p style="font-size: 18px; color: #555; font-weight: bold;">Role: 
            <span style="color: #000;">{{ profile.role }}</span>
        </p>

    </div>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="message {{ message.tags }}"{% endif %}>
            {{ message }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

{% comment %} 
    <p>
        <a href="{% url 'manager_leave_applications' %}" class="btn btn-primary" style="text-decoration: none;">View Pending Leave Applications{{pending}}</a>
    </p>

    <!-- Example of direct URL action (approve/reject leave) -->
    {% if leave_apps %}
        <h4 style="margin-top: 20px; color: #333;">Leave Applications Pending Approval</h4>
        <table style="width: 80%; margin: 20px auto; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Employee</th>
                    <th>Leave Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for leave in leave_apps %}
                    <tr>
                        <td>{{ leave.user.username }}</td>
                        <td>{{ leave.leave_type }}</td>
                        <td>{{ leave.start_date }}</td>
                        <td>{{ leave.end_date }}</td>
                        <td>
                          <a href="{% url 'update_leave_status' leave.id 'approve' %}" class="btn btn-success" style="text-decoration: none;">Approve</a>
                          <a href="{% url 'update_leave_status' leave.id 'reject' %}" class="btn btn-danger" style="text-decoration: none;">Reject</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %} {% endcomment %}

{% comment %} 
{% if user.is_authenticated %}
    {% if user_check_in %}
        <form method="post" action="{% url 'check_out' %}">
            {% csrf_token %}
            <button class="btn btn-success mb-3" type="submit">Check Out</button>
        </form>
    {% else %}
        <form method="post" action="{% url 'check_in' %}">
            {% csrf_token %}
            <button class="btn btn-success mb-3" type="submit">Check In</button>
        </form>
    {% endif %}
{% endif %} {% endcomment %}

<a class="btn btn-success" href="{% url 'update_profile' profile.id %}">Update Profile Photo</a>
{% comment %} <a class="btn btn-success" href="{% url 'manager_task' %}">Assigne Task</a>
<a class="btn btn-success" href="{% url 'manager_view' %}">View Task Update</a>
<a class="btn btn-success" href="{% url 'daily_status_view' %}">Employee Daily Status</a> {% endcomment %}
</div>

</div>

{% endblock content %}

