{% extends "base.html" %}
{% block hero %}
{% endblock hero %}

{% block newpage %}
    <form class="form-inline">
        <a class="btn btn-outline-success my-2 my-sm-0" style='color: #ffffff;' href="{% url 'chnagepass' %}">Change Password</a>
        <a class="btn btn-outline-success my-2 my-sm-0" style='color: #ffffff;' href="{% url 'logout' %}">LogOut</a>
    </form>
{% endblock newpage %}

{% block content %}
<div  style='padding-top: 80px;'>
 <h1 style="text-align: center; font-family: Arial, sans-serif; color: #333; margin-bottom: 20px;">Assigned Tasks</h1>

{% if tasks %}
    {% for task in tasks %}
        <div class="task-card" style=" text-align: center;  border: 1px solid #ddd; padding: 15px; margin: 10px 0; border-radius: 8px; background-color: #f9f9f9; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
            <h3 style="font-size: 1.5em; margin-bottom: 10px; color: #4CAF50;">{{ task.task_title }}</h3>
            <p style="font-size: 1em; color: #555;">{{ task.task_description }}</p>
            <p style="font-weight: bold; color: #555;">Status: <span style="color: {% if task.status == 'Completed' %}green{% elif task.status == 'In Progress' %}orange{% else %}red{% endif %};">{{ task.status }}</span></p>
            <p style="font-weight: bold; color: #555;">Assigned to: {{ task.assigned_to.username }}</p>
            
            {% if task.status != 'Pending' %}
                <p style="font-style: italic; color: #333;"><strong>Comment: </strong>{{ task.comment }}</p>
            {% else %}
                <p style="color: #777;">No comment</p>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p style="text-align: center; font-style: italic; color: #888;">No tasks assigned to this employee.</p>
{% endif %}
</div>

{% endblock content %}